@page
@model ImageFinderUserStudyWeb.Pages.About

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Image Finder - User Study Web</h2>
    <p>Image finder web tries presenting the users images in different ways.</p>
    <p>User might be presented a gallery of images sorted by different heuristics.</p>
    <p>For example, you can see images sorted by their</p>
    <p>1) color histograms</p>
    <p>2) Google Labels values</p>
    <p>3) semantic vectors from neural network evaluation</p>
    <p>After we collect enough data, we might see which system of presentation is the best for humans to process.</p>
</div>