@page
@model ImageFinderUserStudyWeb.Pages.ImagePresentation

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        Remember this image!
    </h2>
    <img 
        src="@Model.ImagePath(Model.PresentedImageId)"
        style="height:500px;width:700px;"
        alt="Image not found."
    />
    <form method="post" asp-page-handler="Gallery">
        <button class="btn btn-default" style="border:2px solid black">
            I want to try finding this image in a gallery!
        </button>
        <input type="hidden" name="userSessionId" value="@Model.UserSessionId"/>
    </form>
</div>