@page
@model ImageFinderUserStudyWeb.Pages.ImageGallery

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p>Find the image or mark it as not present!</p>
    <form method="post" asp-page-handler="ImageClick">
        <button class="btn btn-default">
            Image is not present.
        </button>
        <input type="hidden" name="userSessionGuid" value="@Model.UserSessionId" />
        <input type="hidden" name="imageId" value="NotPresent" />
    </form>
    
    <div class="table-wrapper" id="imageGallery" style="overflow:auto;height:@Model.SizeInPixels(Model.GalleryHeightPixels);width:@Model.SizeInPixels(Model.GalleryWidthPixels);margin:auto;">
            <table>
                @for (var row = 0; row < Model.NumberOfRows; row++)
                {
                    <tr style="height:@Model.SizeInPixels(Model.ImageWidthPixels);width:@Model.SizeInPixels(Model.GalleryWidthPixels);">
                        @for (int column = 0; column < Model.NumberOfPicturesInRow; column++)
                        {
                            <td style="height:@Model.SizeInPixels(Model.ImageWidthPixels);width:@Model.SizeInPixels(Model.ImageWidthPixels);">
                                <form method="post" asp-page-handler="ImageClick" style="height:@Model.SizeInPixels(Model.ImageWidthPixels);width:@Model.SizeInPixels(Model.ImageWidthPixels);">
                                    <button type="submit" style="height:@Model.SizeInPixels(Model.ImageWidthPixels);width:@Model.SizeInPixels(Model.ImageWidthPixels);background:none;border:none;padding:0">
                                        <img src=@Model.ImagePath(Model.ImageGalleryMatrix[row, column]) style="height:@Model.SizeInPixels(Model.ImageWidthPixels);width:@Model.SizeInPixels(Model.ImageWidthPixels);" alt="Image not found">
                                    </button>
                                    <input type="hidden" name="userSessionGuid" value="@Model.UserSessionId" />
                                    <input type="hidden" name="imageId" value="@Model.ImageGalleryMatrix[row, column]" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
</div>