@page
@model ImageFinderUserStudyWeb.Pages.ImageGallery

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p>Find the image or mark it as not present!</p>
    <form method="get">
        <button type="submit" asp-page="SummaryPage">
            Image is not present!
        </button>
    </form>
    <div class="table-wrapper" style="overflow:auto;height:500px;width:710px;margin:auto;">
        <table>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00691_s00017(f001526-f001639)_g00032_f001588.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00774_s00032(f002653-f002682)_g00072_f002675.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00848_s00289(f055432-f055482)_g00458_f055474.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00997_s00032(f004901-f005500)_g00045_f005034.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01018_s00110(f008237-f008332)_g00160_f008295.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01106_s00024(f010062-f010628)_g00086_f010453.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01160_s00035(f002382-f002453)_g00036_f002425.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01181_s00092(f010661-f010709)_g00116_f010680.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01246_s00006(f000634-f000813)_g00007_f000725.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01310_s00089(f004859-f004902)_g00118_f004860.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01422_s00030(f002288-f002465)_g00045_f002325.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01476_s00057(f003664-f003724)_g00090_f003700.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01512_s00129(f022172-f022201)_g00363_f022177.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01595_s00014(f001693-f001744)_g00031_f001728.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01691_s00019(f012111-f012532)_g00070_f012420.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01762_s00005(f001046-f001358)_g00011_f001108.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01841_s00043(f002002-f002261)_g00056_f002007.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00002_s00062(f004514-f004638)_g00096_f004585.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01891_s00048(f043550-f043771)_g00126_f043666.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v01939_s00057(f006915-f007001)_g00138_f006929.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>