@page
@model ImageFinderUserStudyWeb.Pages.ImagePresentation

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        Remember this image!
    </h2>
    <img 
        src="@Model.ImagePath(Model.PresentedImageId)"
        style="height:500px;width:700px;"
        alt="Image not found."
    />
    <form method="get">
        <button type="submit" asp-page="ImageGallery" id="IndexPageContinueButton">
            I want to try finding this image in a gallery!
        </button>
    </form>
</div>