@page
@model ImageFinderUserStudyWeb.Pages.ImageGallery

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p>Find the image or mark it as not present!</p>
    <form method="get">
        <button type="submit" asp-page="SummaryPage">
            Image is not present!
        </button>
    </form>
    <div class="table-wrapper" style="overflow:auto;height:500px;width:710px;margin:auto;">
        <table>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00271_s00058(f012158-f012291)_g00124_f012257.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
            <tr style="height: 175px; width: 700px">
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00095_s00015(f006905-f007357)_g00030_f007132.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00002_s00062(f004514-f004638)_g00096_f004585.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00403_s00032(f005112-f005661)_g00047_f005304.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
                <td style="height: 175px; width: 175px">
                    <form method="get" asp-page="SummaryPage" style="height: 175px; width: 175px">
                        <button type="submit" style="height: 175px; width: 175px; background: none; border: none; padding: 0">
                            <img src="~/Resources/GoogleImages/v00546_s00038(f003552-f003696)_g00078_f003625.jpg" style="height: 175px; width: 175px"  alt="Image not found."/>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>