@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Image finder</h2>
    <p>
        Welcome to image finder web app.
    </p>
    <p>
        On the next page, you will be presented an image you have to remember. 
    </p>
    <p>
        Try finding it in a gallery of images.
    </p>
    <form method="get">
        <button type="submit" asp-page="ImagePresentation">
            Continue to image presentation
        </button>
    </form>
</div>
