@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2>What we collect</h2>
    <p>We do not collect any personal information like I.P. addresses, names, location, etc.</p>
    <p>Your usage of Image Finder is completely anonymous.</p>
    <p>However, we do collect your movement on the page.</p>
    <p>For example, we collect</p>
    <p>1) how fast you are able to find an image presented</p>
    <p>2) how many times you scroll</p>
    <p>3) which images are presented to you</p>
    <p>And many more parameters that might be set during the runtime.</p>
    <p>
        Thank you for participating in our user study.
    </p>
</div>